# {{ ansible_managed }}
[client]
socket                                = {{ mysql_run_dir }}/mysqld.sock

[mysqld]
### General options
user                                  = mysql
pid-file                              = {{ mysql_run_dir }}/mysqld.pid
socket                                = {{ mysql_run_dir }}/mysqld.sock
datadir                               = {{ mysql_data_dir }}
tmpdir                                = {{ mysql_tmp_dir }}
character-set-server                  = utf8
collation-server                      = utf8_general_ci
sql-mode                              = NO_ENGINE_SUBSTITUTION,STRICT_ALL_TABLES
default_storage_engine                = InnoDB
transaction-isolation                 = READ-COMMITTED
sysdate-is-now                        = 1
expand_fast_index_creation            = 1
safe-user-create                      = 1
query_response_time_stats             = 1
event-scheduler                       = 0
performance_schema                    = 1

### Connectivity options
read_only                             = off
bind-address                          = ::
port                                  = 3306
net_write_timeout                     = 3600
interactive_timeout                   = 14400
wait_timeout                          = 14400
skip-name-resolve                     = 1
secure-auth                           = 1
max_allowed_packet                    = 16M
back_log                              = 2048
thread_cache_size                     = 64
max_connections                       = 100
max_user_connections                  = 50
max_connect_errors                    = 1000000

### General caches
key_buffer_size                       = 16M
query_cache_type                      = 0
query_cache_size                      = 0
table_open_cache                      = 16384
tmp_table_size                        = 16M
max_heap_table_size                   = 16M

### InnoDB options
innodb                                = force
innodb_buffer_pool_size               = {{ mysql_innodb_buffer_pool_size_mb }}M
innodb_buffer_pool_instances          = 1
innodb_old_blocks_time                = 1000
innodb_log_buffer_size                = 8M
innodb_flush_log_at_trx_commit        = 2
innodb_flush_method                   = O_DIRECT
innodb_io_capacity                    = 200
innodb_log_file_size                  = {{ mysql_innodb_logfile_size_mb }}M
innodb_file_per_table                 = 1
innodb_open_files                     = 16384
innodb_file_format                    = Barracuda
innodb_file_format_max                = Barracuda
innodb_write_io_threads               = 4
innodb_read_io_threads                = 4
innodb_thread_concurrency             = 0
innodb_concurrency_tickets            = 65536
innodb_support_xa                     = on
innodb_autoinc_lock_mode              = 2
innodb_stats_on_metadata              = 0

### Replication options
server-id                             = {{ mysql_server_id|default(1) }}
skip-slave-start                      = 1
master-info-file                      = {{ mysql_binlog_dir }}/master.info
log-bin                               = {{ mysql_binlog_dir }}/mysql-bin
log-bin-index                         = {{ mysql_binlog_dir }}/mysql-bin.index
max_binlog_size                       = 100M
log-slave-updates                     = 1
binlog-format                         = ROW
sync_binlog                           = 0
expire_logs_days                      = 7
relay-log-info-file                   = {{ mysql_binlog_dir }}/relay.info
relay-log                             = {{ mysql_binlog_dir }}/mysql-relay
relay-log-index                       = {{ mysql_binlog_dir }}/mysql-relay.index
relay_log_purge                       = 1

### Logging options
log-error                             = {{ mysql_log_dir }}/error.log
general-log                           = 0
general_log_file                      = {{ mysql_log_dir }}/general.log
slow-query-log                        = 1
slow_query_log_file                   = {{ mysql_log_dir }}/slow.log
slow_query_log_use_global_control     = all
long_query_time                       = 2
log-slow-slave-statements             = 1
log-slow-admin-statements             = 1
log_slow_sp_statements                = 1
slow_query_log_timestamp_always       = 1
slow_query_log_timestamp_precision    = 1
log_slow_verbosity                    = standard
log_slow_filter                       = ''
log_slow_rate_type                    = session 
log_slow_rate_limit                   = 1
slow_query_log_always_write_time      = 10
